<footer class="footer py-3 mt-auto">
    <div class="container">
        <a href="https://github.com/Caximorris" target="_blank" class="text-white float-right">Visit my GitHub</a>
    </div>
</footer>