<header class="mb-auto text-center">
    <div class="navbar fixed-top custom-navbar">
        <h3 class="float-md-left mb-0 text-white">Natural Parks</h3>
        <nav class="nav nav-masthead justify-content-center float-md-right">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/naturalparks">Natural Parks</a>
            <a class="nav-link" href="/naturalparks/newpark">Add a new park</a>
            <% if(!currentUser) { %>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else { %>
                    <a class="nav-link" href="/profile">Profile</a>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
        </nav>
    </div>
</header>