<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h3 class="text-center">
                    <%= err.message %>
                </h3>
                <p class="text-center">Sorry, there was an error. Please try again.</p>
                <a href="/naturalparks" class="btn btn-primary btn-block">Back to Parks</a>
            </div>
        </div>
    </div>