<% layout('layouts/boilerplate') %>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Natural Parks</h1>
            <p class="lead"> Welcome to Natural Parks! <br> Jump right in and explore our many campgrounds. <br>
                Feel free to share some of your own and comment on others!</p>
            <a href="/naturalparks" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                Natural Parks</a>
        </main>
    </div>