<% layout('layouts/boilerplate') %>

<h1>Profile</h1>

<div class="card bg-dark" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Username: <%= currentUser.username %></h5>
        <p class="card-text">Email: <%= currentUser.email %></p>
        <a href="/profile/edit" class="btn btn-primary">Edit profile</a>
    </div>
</div>